@import 'global';

$max-width: 32em;
article {
	box-sizing: border-box;
	display: block;
	padding: 0 1em;
	max-width: $max-width*2;
}
article p:first-of-type {
	margin-top: 0;
}

#categories > .category {
	//padding: 0 2em;
}
#projects {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 4em;
	width: calc(100% - 4em);
	background: #eee;
	overflow: scroll;
	padding-bottom: 6em;
}
#projects.hide {
	display: none;
}
#projects > .group:not(:first-of-type),
#projects > .group > .project:not(:first-of-type) {
	margin-top: 6em;
}
/*
#projects > .project:not(:first-of-type):before {
	content: '';
	display: block;
	width: 30%;
	height: 1px;
	margin: 2em auto;
	background: #aaa;
}*/
#projects > .group > .project {
	$padding: 3em;
	> .title {
		padding: 0.5em $padding;
		border-top: 6px solid black;
		border-bottom: 2px solid black;
		max-width: $max-width;
	}
	> img {
		width: 100%;
		display: block;
		max-width: $max-width*2;
	}
	> .links {
		padding: 0 $padding;
	}
	> .text {
		padding: 0 $padding;
		max-width: $max-width;

		a {
			border-bottom-width: 1px;
		}
	}
	> .date {
		padding: 0 $padding;
		color: #aaa;
	}
}