@mixin transform($x) {
  -webkit-transform: $x;
  -moz-transform: $x;
  transform: $x;
}

$break: 800px;

$ocean: #9ce5ff;
$green: #00ffb0;
$red: #ff0055;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $ocean;
}
svg {
  display: block;
  margin: 0 auto;
}

// map
$textColor: black;
$inactiveColor: white;
$hoverColor: $green;
$selectColor: $green;
$cities: TPE,NTC,KEL,TYN,HCC,HSZ,ZMI,TXG,CHW,NAN,YLN,CYC,CYI,TNN,KHH,PIF,ILA,HUN,TTT,MZG,KNH,MFK,LAB,MAB;

#bigmap {
  display: none;
}
#citymap {
  $gap: 30px;
  display: block;
  position: relative;
  padding-bottom: $gap*8;

  > .city {
    &:after {
      content: '';
      display: block;
      width: $gap;
      height: 1px;
      margin: $gap auto;
      background: white;
    }
    &:last-child:after {
      display: none;
    }
    > .title {
      text-align: center;
      margin: $gap 0;
    }
    > .map {
      width: 100%;
      overflow: scroll;
      > svg {
        padding: $gap;
      }
    }
  }
  @each $c in $cities {
    ##{$c} {
      > [id^=#{$c}]:not([id$='disabled']) {
        cursor: pointer;
      }
      > [id^=#{$c}]:hover {
        > polygon, > path, > polyline {
          fill: $selectColor;
        }
      }
    }
  }
}
@mixin close($thickness) {
  cursor: pointer;

  &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: $thickness;
    background: $textColor;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    @include transform(rotate(45deg));
  }
  &:after {
    @include transform(rotate(-45deg));
  }
}
#info {
  display: none;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  border-top: 2px solid $textColor;
  color: $textColor;
  $x: 48px;
  $sqrt2: 1.4142;
  > #close {
    position: absolute;
    top: 0;
    right: 0;
    width: $x;
    height: $x;
    margin: 0;
    background: $red;
    @include close(2px);
  }

  > #go {
    display: block;
    margin: 0;
    padding: 15px;
    font-size: 18px;
    line-height: 1;
    background: $green;
    color: $textColor;
    text-decoration: none;
    > * {
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px 0 0;
      padding: 0;
    }
    > #prompt {
      font-size: 0.85em;
      border-top: 1px solid transparent;
      border-bottom: 1px solid $textColor;
    }
    > #arrow {
      width: $x/$sqrt2;
      height: 2px;
      background: $textColor;
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        width: $x/2;
        height: 2px;
        background: $textColor;
        position: absolute;
        left: calc(50% - 3px);
      }
      &:before {
        top: -$x/4 + 4px;
        @include transform(rotate(45deg));
      }
      &:after {
        top: $x/4 - 4px;
        @include transform(rotate(-45deg));
      }
    }
  }
  > #detail {
    margin: 14px;
    font-size: 14px;
  }

  .subdistrict {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
  }
  .boroughs {
    font-size: 11px;
    .borough {
      display: inline-block;
      vertical-align: top;
      margin-right: 1em;
    }
  }
}

@media all and (min-width: $break) {
  #bigmap {
    display: block;

    #overview {
      @each $c in $cities {
        > #ov-#{$c} {
          cursor: pointer;
          > #ov-#{$c}-name {
            display: none;
          }
          > polygon, > path, > polyline {
            fill: $inactiveColor;
          }
        }
        > #ov-#{$c}:hover {
          > polygon, > path, > polyline {
            fill: $hoverColor;
          }
          > #ov-#{$c}-name {
            display: block;
            fill: $textColor;
          }
        }
        > #ov-#{$c}.active {
          > polygon, > path, > polyline {
            fill: $hoverColor;
          }
        }
      }
    }
  }

  #citymap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.32);
    > .city {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -55%);
      -moz-transform: translate(-50%, -55%);
      transform: translate(-50%, -55%);
      &#NTC {
        -webkit-transform: translate(-50%, -45%);
        -moz-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%); // special care for NTC
      }

      &:after {
        display: none;
      }
      > .title {
        display: none;
      }
      > .map {
        > svg {
          padding: 0;
        }
      }
    }
  }
  #info {
    > #go {
      background: none;
      &:hover {
        background: $green;
      }
    }
    > #close {
      background: none;
      &:hover {
        background: $red;
      }
    }
  }
  #d12pointer {
    display: none;
  }
}
