$break: 800px;

$oceanColor: #9ce5ff;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $oceanColor;
}
svg {
  display: block;
  margin: 0 auto;
}

// map
$textColor: black;
$inactiveColor: white;
$hoverColor: #00ffb0;
$selectColor: #00ffb0;
$cities: TPE,NTC,KEL,TYN,HCC,HSZ,ZMI,TXG,CHW,NAN,YLN,CYC,CYI,TNN,KHH,PIF,ILA,HUN,TTT,MZG,KNH,MFK,LAB,MAB;

#bigmap {
  display: none;
}
#citymap {
  $gap: 30px;
  display: block;
  position: relative;
  padding-bottom: $gap*5;

  > .city {
    &:after {
      content: '';
      display: block;
      width: $gap;
      height: 1px;
      margin: $gap auto;
      background: white;
    }
    &:last-child:after {
      display: none;
    }
    > .title {
      text-align: center;
      margin: $gap 0;
    }
    > .map {
      width: 100%;
      overflow: scroll;
      > svg {
        padding: $gap;
      }
    }
  }
  @each $c in $cities {
    ##{$c} {
      > [id^=#{$c}]:not([id$='disabled']) {
        cursor: pointer;
      }
      > [id^=#{$c}]:hover {
        > polygon, > path, > polyline {
          fill: $selectColor;
        }
      }
    }
  }
}
#info {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: white;
  color: $textColor;

  > #name {
    margin: 14px 0;
    font-size: 18px;
  }
  > #detail {
    margin: 14px 0;
    font-size: 14px;
  }

  .subdistrict {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
  }
  .boroughs {
    font-size: 11px;
    .borough {
      display: inline-block;
      vertical-align: top;
      margin-right: 1em;
    }
  }
}

@media all and (min-width: $break) {
  #bigmap {
    display: block;

    #overview {
      @each $c in $cities {
        > #ov-#{$c} {
          cursor: pointer;
          > #ov-#{$c}-name {
            display: none;
          }
          > polygon, > path, > polyline {
            fill: $inactiveColor;
          }
        }
        > #ov-#{$c}:hover {
          > polygon, > path, > polyline {
            fill: $hoverColor;
          }
          > #ov-#{$c}-name {
            display: block;
            fill: $textColor;
          }
        }
        > #ov-#{$c}.active {
          > polygon, > path, > polyline {
            fill: $hoverColor;
          }
        }
      }
    }
  }

  #citymap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.32);
    > .city {
      display: none;
      &:after {
        display: none;
      }
      > .title {
        display: none;
      }
      > .map {
        > svg {
          padding: 0;
        }
      }
    }
    $x: 48px;
    > .close {
      width: $x;
      height: $x;
      margin: $x auto;
      position: relative;
      background: $hoverColor;
      cursor: pointer;

      &.inactive {
        //background: $inactiveColor;
      }
      &:hover {
        background: $selectColor;
      }
      &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $textColor;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  #info {
    position: absolute;
  }
  #d12pointer {
    display: none;
  }
}
